@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    z-index: 1;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-75%) translateY(0%) scale(var(--scale));
    transition: 0.25s transform;
    transform-origin: right center;
}

.tooltip::after {
    content: attr(data-tooltip);
    font-size: 0.7rem;
    color: white;
    padding: 0 0.2rem;
    border-radius: 0.3rem;
    text-align: center;
    background-color: #181818;
}

.tooltip:hover::after {
    --scale: 1;
}

.section-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
}

.input,
.textarea {
    color: white;
    background: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    width: 100%;
}

.textarea {
    min-height: 5rem;
}


@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none !important;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none !important;
            /* IE and Edge */
            scrollbar-width: none !important;
            /* Firefox */
        }
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
}