@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    z-index: 1;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(140%) translateY(25%) scale(var(--scale));
    transition: 0.25s transform;
    transform-origin: left center;
}

.tooltip::before {
    content: attr(data-tooltip);
    font-size: 0.7rem;
    color: white;
    padding: 0 0.2rem;
    border-radius: 0.3rem;
    text-align: center;
    background-color: #181818;
}

.tooltip:hover::before {
    --scale: 1;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
}