.home {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    text-align: center;
    background: url('../../public/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
}
.title {
    font-size: 66px;
    line-height: 66px;
    color: white;
    font-weight: bold;
}