.home {
    position: relative;
    height: 100%;
    width: 100%;
    background: blue;
}

.content {
    text-align: center;
    background: url('../../public/assets/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
}